{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Make a plea
            <span class="govuk-caption-m">Also know as 'online plea' this design demo uses the GOV.UK prototype kit {{releaseVersion}}</span>
        </h1>{{releaseVersion | log }}

        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Postcodes</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>any postcode can be used, however, for continuity use: <span class="govuk-!-font-weight-bold">W1 7SX</span> or <span class="govuk-!-font-weight-bold">W17SX</span></li>
            <li>to see the Welsh language questions in the guilty and not guilty flows use the following: <span class="govuk-!-font-weight-bold">LL48 6ER</span> or <span class="govuk-!-font-weight-bold">LL486ER</span></li>
        </ul>
        
        <form action="" method="post">
            <div class="govuk-form-group govuk-!-margin-top-9">

                <button type="submit" class="govuk-button">
                    Let's get started
                </button>

            </div>
        </form>
        
    </div>
</div>

{% endblock %}
