{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Make a plea
            <span class="govuk-caption-m">Also know as 'online plea' this design demo uses the GOV.UK prototype kit {{releaseVersion}}</span>
        </h1>{{releaseVersion | log }}

        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Case or unique reference number</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>Transport for London: <span class="govuk-!-font-weight-bold">506123456C</span><br>
                <span class="govuk-!-font-size-16 govuk-hint">the following will also work - <span class="govuk-!-font-weight-bold">TFL</span>, <span class="govuk-!-font-weight-bold">TfL</span>, <span class="govuk-!-font-weight-bold">tfl</span> or <span class="govuk-!-font-weight-bold">21NT5181416</span></span></li>
            <li>TV Licensing: <span class="govuk-!-font-weight-bold">506123456C</span><br>
                <span class="govuk-!-font-size-16 govuk-hint">the following will also work - <span class="govuk-!-font-weight-bold">TVL</span>, <span class="govuk-!-font-weight-bold">tvl</span> or <span class="govuk-!-font-weight-bold">123123123C</span></span></li>
            <li>Driver and Vehicle Licensing Agency: <span class="govuk-!-font-weight-bold">29KWN02ZRR</span><br>
                <span class="govuk-!-font-size-16 govuk-hint">the following will also work - <span class="govuk-!-font-weight-bold">DVLA</span> or <span class="govuk-!-font-weight-bold">dvla</span></span></li>
        </ul>
        
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Postcodes</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>any postcode can be used</li>
            <li>to see the Welsh language questions in the guilty and not guilty flows use the following: <span class="govuk-!-font-weight-bold">LL48 6ER</span> or <span class="govuk-!-font-weight-bold">LL486ER</span></li>
        </ul>
        
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Timeout</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>an overlay will be displayed after 60 seconds of inactivity</li>
            <li>session will timeout after 90 seconds</li>
            <!--<li style="color: red">timeout times have been temporarily reduced to 5 seconds each for testing purposes</li>-->
        </ul>

        
        
        
        
        <form action="" method="post">
            <div class="govuk-form-group govuk-!-margin-top-9">

                <button type="submit" class="govuk-button">
                    Let's get started
                </button>

            </div>
        </form>
        
    </div>
</div>

{% endblock %}
