{% extends "layout.html" %}

{% block pageTitle %}
  Make a plea
{% endblock %}

{% block content %}

{% include "includes/timeout-overlay.html" %}

{% include "includes/phase-banner.html" %}
{% include "includes/breadcrumb.html" %}

<script>

    window.onload = function() {

        /* ************* */
        /* ************* */
        /* CONVERT MONTH */
        var defendantDOBMonth = document.getElementById("defendant-dob-month").innerText;

        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var monthsShort = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

        document.getElementById("defendant-dob-month").innerText = months[defendantDOBMonth-1];
        
        /* *********************** */
        /* CHECK DEFENDANT ADDRESS */
        var defendantAddressLine1 = document.getElementById('defendantAddressLine1').innerHTML;
        var defendantAddressLine2 = document.getElementById('defendantAddressLine2').innerHTML;
        var defendantAddressCity = document.getElementById('defendantAddressCity').innerHTML;
        var defendantAddressCounty = document.getElementById('defendantAddressCounty').innerHTML;
        var defendantAddressPostcode = document.getElementById('defendantAddressPostcode').innerHTML;
        
        if (defendantAddressLine1 == "<br>") {
            document.getElementById('defendantAddressLine1').style.display = "none";
        }
        if (defendantAddressLine2 == "<br>") {
            document.getElementById('defendantAddressLine2').style.display = "none";
        }
        if (defendantAddressCity == "<br>") {
            document.getElementById('defendantAddressCity').style.display = "none";
        }
        if (defendantAddressCounty == "<br>") {
            document.getElementById('defendantAddressCounty').style.display = "none";
        }
        if (defendantAddressPostcode == "") {
            document.getElementById('defendantAddressPostcode').style.display = "none";
        }
    
        /* ********************** */
        /* CHECK EMPLOYER ADDRESS */
        var employerAddressLine1 = document.getElementById('employerAddressLine1').innerHTML;
        var employerAddressLine2 = document.getElementById('employerAddressLine2').innerHTML;
        var employerAddressCity = document.getElementById('employerAddressCity').innerHTML;
        var employerAddressCounty = document.getElementById('employerAddressCounty').innerHTML;
        var employerAddressPostcode = document.getElementById('employerAddressPostcode').innerHTML;
        
        if (employerAddressLine1 == "<br>") {
            document.getElementById('employerAddressLine1').style.display = "none";
        }
        if (employerAddressLine2 == "<br>") {
            document.getElementById('employerAddressLine2').style.display = "none";
        }
        if (employerAddressCity == "<br>") {
            document.getElementById('employerAddressCity').style.display = "none";
        }
        if (employerAddressCounty == "<br>") {
            document.getElementById('employerAddressCounty').style.display = "none";
        }
        if (employerAddressPostcode == "") {
            document.getElementById('employerAddressPostcode').style.display = "none";
        }
        
        /* ****************** */
        /* CHECK YOUR DETAILS */
        var homeTelephone = document.getElementById('homeTelephone').innerText;
        if (homeTelephone == "") {
            document.getElementById('homeTelephone').innerHTML = "—";
        }
        var mobile = document.getElementById('mobile').innerText;
        if (mobile == "") {
            document.getElementById('mobile').innerHTML = "—";
        }

        /* **************** */
        /* HOW DO YOU PLEAD */
        var howDoYouPlead = document.getElementById('howDoYouPlead').innerText;
        
        if (howDoYouPlead == "Guilty") {
            document.getElementById('notGuiltyPlea').style.display = "none";
            
        } else if (howDoYouPlead == "Not guilty") {
            document.getElementById('guiltyPlea').style.display = "none";
            
        }
        
        /* *********************** */
        /* CHECK EMPLOYMENT STATUS */
        var employmentStatus = document.getElementById('employmentStatus').innerText;
        if (employmentStatus == "Other (for example, retired, student)") {
            document.getElementById('deductFromEarnings').style.display = "none";
            document.getElementById('yourEmployment').style.display = "none";
        } else {
            document.getElementById('otherIncomeDetails').style.display = "none";
        }
        if (employmentStatus == "Unemployed") {
            document.getElementById('deductFromEarnings').style.display = "none";
            document.getElementById('yourEmployment').style.display = "none";
            
        }
        
        /* ********************************** */
        /* GUILTY INFORMATION FOR MAGISTRATES */
        var guiltyMoreDetail = document.getElementById('guiltyMoreDetail').innerText;
        if (guiltyMoreDetail == "") {
            document.getElementById('guiltyMoreDetail').innerHTML = "<span style='color:#b10e1e'>You chose not to give the magistates any information - if you would like to give this information click <a href='guilty-plea.html' style='color:#b10e1e'>'Change'<span class='govuk-visually-hidden'> your plea</span></a>.</span>";
        }
        
        
        
        
        
        
        /* *********************** */
        /* GUILTY COMING TO COURT? */
        var comeToCourt = document.getElementById('comeToCourt').innerText;
        if (comeToCourt == "No, I do not want to come to court") {
            document.getElementById('guiltyInterpreter').style.display = "none";
            document.getElementById('guiltyInterpreterLanguage').style.display = "none";
        }
        
        var guiltyInterpreterAnswer = document.getElementById('guiltyInterpreterAnswer').innerText;
        if (guiltyInterpreterAnswer == "No") {
            document.getElementById('guiltyInterpreterLanguage').style.display = "none";
        }
        
        
        /* *************************** */
        /* NOT GUILTY COMING TO COURT? */
        var prosecutionWitnessAttend = document.getElementById('prosecutionWitnessAttend').innerText;
        if (prosecutionWitnessAttend == "No") {
            document.getElementById('prosecutionWitnessAttendDetail').style.display = "none";
        }
        
        var defenceWitnessAttend = document.getElementById('defenceWitnessAttend').innerText;
        if (defenceWitnessAttend == "No") {
            document.getElementById('defenceWitnessAttendDetail').style.display = "none";
        }
        
        var datesToAvoid = document.getElementById('datesToAvoid').innerText;
        if (datesToAvoid == "No") {
            document.getElementById('datesToAvoidDetail').style.display = "none";
        }
        
        var notGuiltyInterpreter = document.getElementById('notGuiltyInterpreter').innerText;
        if (notGuiltyInterpreter == "No") {
            document.getElementById('notGuiltyInterpreterDetail').style.display = "none";
        }
        
        /* ****************** */
        /* CLAIMING BENEFITS? */
        var claimingBenefits = document.getElementById('claimingBenefits').innerText;
        if (claimingBenefits == "No") {
            document.getElementById('claimingBenefitsDetail').style.display = "none";
            document.getElementById('deductFromBenefits').style.display = "none";
            
        }

        /* ********************* */
        /* DEDUCT FROM EARNINGS? */
        var deductFromEarningsAnswer = document.getElementById('deductFromEarningsAnswer').innerText;
        if (deductFromEarningsAnswer == "No") {
            document.getElementById('yourEmployment').style.display = "none";
        }
        
        
        /* ******************** */
        /* CHECK YOUR OUTGOINGS */
        var yourOutgoings = document.getElementById('yourOutgoings').innerText;
        if (yourOutgoings == "No") {
            document.getElementById('yourOutgoingsTotal').style.display = "none";
        }
        
        /* **************************** */
        /* CHECK OTHER EXPENSES DETAILS */
        var otherExpensesDetails = document.getElementById('otherExpensesDetails').innerText;
        if (otherExpensesDetails == " -") {
            document.getElementById('otherExpensesDetails').style.display = "none";
        }
        
        /* ********* */
        /* CHECK NIN */
        var nin = document.getElementById('nin').innerText;
        if (nin == "") {
            document.getElementById('nin').innerText = "—";
        }
        
        /* ************************ */
        /* CHECK EMPLOYMENT DETAILS */
        var employeeReference = document.getElementById('employeeReference').innerText;
        if (employeeReference == "") {
            document.getElementById('employeeReference').innerText = "—";
        }
        var employerTelephone = document.getElementById('employerTelephone').innerText;
        if (employerTelephone == "") {
            document.getElementById('employerTelephone').innerText = "—";
        }
        
        /* ************* */
        /* WELSH HEARING */
        var welshPostcode = document.getElementById('welshPostcode').innerText;
        if (welshPostcode == "No") {
            document.getElementById('welshHearingGroup').style.display = "none";
        }
        
        /* ********************** */
        /* CHECK INCOME FREQUENCY */
        var incomeFrequency = document.getElementById('incomeFrequency').innerText;
        if (incomeFrequency == "Weekly") {
            //document.getElementById('weeklyIncome').style.display = "none"
            document.getElementById('fortnightlyIncome').style.display = "none"
            document.getElementById('monthlyIncome').style.display = "none"
            document.getElementById('yearlyIncome').style.display = "none"
        } else if (incomeFrequency == "Fortnightly") {
            document.getElementById('weeklyIncome').style.display = "none"
            //document.getElementById('fortnightlyIncome').style.display = "none"
            document.getElementById('monthlyIncome').style.display = "none"
            document.getElementById('yearlyIncome').style.display = "none"
        } else if (incomeFrequency == "Monthly") {
            document.getElementById('weeklyIncome').style.display = "none"
            document.getElementById('fortnightlyIncome').style.display = "none"
            //document.getElementById('monthlyIncome').style.display = "none"
            document.getElementById('yearlyIncome').style.display = "none"
        } else if (incomeFrequency == "Yearly") {
            document.getElementById('weeklyIncome').style.display = "none"
            document.getElementById('fortnightlyIncome').style.display = "none"
            document.getElementById('monthlyIncome').style.display = "none"
            //document.getElementById('yearlyIncome').style.display = "none"
        }

        
        
        
        

    }
    
</script>

<div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-full-width">
        
        <p id="welshPostcode" style="display:none">{{data['welsh-case']}}</p>
        <p id="incomeFrequency" style="display:">{{data['income-frequency']}}</p>
        
        <h1 class="govuk-heading-xl">
            Check your answers
        </h1>
        
        <p id="returnToCYA" style="color: red; display:none">{{data['returnToCYA']}}</p>

        <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
        <!--   * `app-check-your-answers--short` for short questions -->
        <!--   * `app-check-your-answers__questions-long` for long questions -->
        <!--   * none for single group of q&a -->
        
        <!-- ************ -->
        <!-- ************ -->
        <!-- ************ -->
        <!-- ************ -->
        <!-- YOUR DETAILS -->
        <dl class="app-check-your-answers app-check-your-answers--short">
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question govuk-heading-m">
                    Your details
                </dt>
                <dd class="app-check-your-answers__answer">
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="your-details.html">
                        Change<span class="govuk-visually-hidden"> your details</span>
                    </a>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Name
                </dt>
                <dd class="app-check-your-answers__answer">
                    {{data['defendant-first-name']}} <span style="text-transform: uppercase">{{data['defendant-last-name']}}</span>
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Address
                </dt>
                <dd class="app-check-your-answers__answer">
                    <span id="defendantAddressLine1">{{data['defendant-address-line-1']}}<br /></span>
                    <span id="defendantAddressLine2">{{data['defendant-address-line-2']}}<br /></span>
                    <span id="defendantAddressCity">{{data['defendant-address-city']}}<br /></span>
                    <span id="defendantAddressCounty">{{data['defendant-address-county']}}<br /></span>
                    <span id="defendantAddressPostcode">{{data['defendant-address-postcode']}}</span>
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Home telephone
                </dt>
                <dd id="homeTelephone" class="app-check-your-answers__answer">
                    {{data['home-telephone']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Mobile number
                </dt>
                <dd id="mobile" class="app-check-your-answers__answer">
                    {{data['mobile']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Date of birth
                </dt>
                <dd class="app-check-your-answers__answer">
                    {{data['dob-day']}} <span id="defendant-dob-month">{{data['dob-month']}}</span> {{data['dob-year']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

        </dl>
        
        <!-- ********* -->
        <!-- ********* -->
        <!-- ********* -->
        <!-- ********* -->
        <!-- YOUR PLEA -->
        <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-top-9">
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question govuk-heading-m">
                    Your plea
                </dt>
                <dd class="app-check-your-answers__answer">
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="your-plea.html">
                        Change<span class="govuk-visually-hidden"> your plea</span>
                    </a>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Plea
                </dt>
                <dd id="howDoYouPlead" class="app-check-your-answers__answer">
                    {{data['how-do-you-plead']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>
        </dl>

        <!-- *********************** -->
        <!-- *********************** -->
        <!-- *********************** -->
        <!-- *********************** -->
        <!-- YOUR PLEA - GUILTY PLEA -->
        <dl id="guiltyPlea" class="app-check-your-answers app-check-your-answers--short govuk-!-margin-top-0">
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Information for magistrates
                </dt>
                <dd id="guiltyMoreDetail" class="app-check-your-answers__answer">
                    {{data['guilty-more-detail']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Would you like to come to court?
                </dt>
                <dd id="comeToCourt" class="app-check-your-answers__answer">
                    {{data['guilty-plea-come-to-court']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

            <div id="guiltyInterpreter" class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Do you need an interpreter in court?
                </dt>
                <dd id="guiltyInterpreterAnswer" class="app-check-your-answers__answer">
                    {{data['guilty-interpreter']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

            <div id="guiltyInterpreterLanguage" class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Which language?
                </dt>
                <dd class="app-check-your-answers__answer">
                    {{data['guilty-interpreter-1-detail']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

        </dl>
        
        <!-- *************************** -->
        <!-- *************************** -->
        <!-- *************************** -->
        <!-- *************************** -->
        <!-- YOUR PLEA - NOT GUILTY PLEA -->
        <dl id="notGuiltyPlea" class="app-check-your-answers app-check-your-answers--short govuk-!-margin-top-0">
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Information for magistrates
                </dt>
                <dd class="app-check-your-answers__answer">
                    {{data['not-guilty-more-detail']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

            <div id="welshHearingGroup" class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Do you wish to speak Welsh at your court hearing?
                </dt>
                <dd id="welshHearing" class="app-check-your-answers__answer">
                    {{data['welsh-hearing']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>
            
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Do you want a witness on this statement to attend?
                </dt>
                <dd id="prosecutionWitnessAttend" class="app-check-your-answers__answer">
                    {{data['prosecution-witness-attend']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

            <div id="prosecutionWitnessAttendDetail" class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Enter their name and why you want them to attend
                </dt>
                <dd class="app-check-your-answers__answer">
                    {{data['prosecution-witness-attend-1-detail']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

             <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Do you want to bring your own witness?
                </dt>
                <dd id="defenceWitnessAttend" class="app-check-your-answers__answer">
                    {{data['defence-witness-attend']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

             <div id="defenceWitnessAttendDetail" class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Enter the name and address of your witness and their age and date of birth if known
                </dt>
                <dd class="app-check-your-answers__answer">
                    {{data['defence-witness-attend-1-detail']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>
            
             <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Are there any dates you or your witness can not attend court?
                </dt>
                <dd id="datesToAvoid" class="app-check-your-answers__answer">
                    {{data['dates-to-avoid']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

             <div id="datesToAvoidDetail" class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Enter the dates you or your witness can not attend court
                </dt>
                <dd class="app-check-your-answers__answer">
                    {{data['dates-to-avoid-1-detail']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>
            
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Do you need an interpreter in court?
                </dt>
                <dd id="notGuiltyInterpreter" class="app-check-your-answers__answer">
                    {{data['not-guilty-interpreter']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

            <div id="notGuiltyInterpreterDetail" class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Which language?
                </dt>
                <dd class="app-check-your-answers__answer">
                    {{data['not-guilty-interpreter-1-detail']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>
            
        </dl>
             
        <!-- ************* -->
        <!-- ************* -->
        <!-- ************* -->
        <!-- ************* -->
        <!-- YOUR FINANCES -->
        
        <!-- *********** -->
        <!-- *********** -->
        <!-- *********** -->
        <!-- *********** -->
        <!-- YOUR INCOME -->
        <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-top-9">
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question govuk-heading-m">
                    Your finances
                </dt>
                <dd class="app-check-your-answers__answer">
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="your-finances.html">
                        Change<span class="govuk-visually-hidden"> your finances</span>
                    </a>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Income (after tax)
                </dt>
                <dd class="app-check-your-answers__answer">
                    £<span id="weeklyIncome">{{data['weekly-income']}}</span><span id="fortnightlyIncome">{{data['fortnightly-income']}}</span><span id="monthlyIncome">{{data['monthly-income']}}</span><span id="yearlyIncome">{{data['yearly-income']}}</span> paid {{data['income-frequency']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    National Insurance number
                </dt>
                <dd id="nin" class="app-check-your-answers__answer">
                    {{data['nin']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Your employment status
                </dt>
                <dd id="employmentStatus" class="app-check-your-answers__answer">
                    {{data['employment-status']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

            <div id="otherIncomeDetails" class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Other income details
                </dt>
                <dd class="app-check-your-answers__answer">
                    {{data['other-employment-status-details']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>
            
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Are you claiming any benefits?
                </dt>
                <dd id="claimingBenefits" class="app-check-your-answers__answer">
                    {{data['claiming-benefits']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>
            
            <div id="claimingBenefitsDetail" class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Which benefits are you claiming?
                </dt>
                <dd class="app-check-your-answers__answer">
                    {{data['claiming-benefits-details']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>
        </dl>
        
        <!-- ************* -->
        <!-- ************* -->
        <!-- ************* -->
        <!-- ************* -->
        <!-- YOUR BENEFITS -->
        <dl id="deductFromBenefits" class="app-check-your-answers app-check-your-answers--short govuk-!-margin-top-0">

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    If you need to pay a penalty, would you like us to deduct it from your benefits?
                </dt>
                <dd class="app-check-your-answers__answer">
                    {{data['deduct-from-benefits']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

        </dl>            
        
        <!-- ************************ -->
        <!-- ************************ -->
        <!-- ************************ -->
        <!-- ************************ -->
        <!-- DEDUCTIONS FROM EARNINGS -->
        <dl id="deductFromEarnings" class="app-check-your-answers app-check-your-answers--short govuk-!-margin-top-0">

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    If you need to pay a penalty, would you like us to deduct it from your earnings?
                </dt>
                <dd id="deductFromEarningsAnswer" class="app-check-your-answers__answer">
                    {{data['deduct-from-earnings']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

        </dl>            

        <!-- *************** -->
        <!-- *************** -->
        <!-- *************** -->
        <!-- *************** -->
        <!-- YOUR EMPLOYMENT -->
        <dl id="yourEmployment" class="app-check-your-answers app-check-your-answers--short govuk-!-margin-top-9">
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question govuk-heading-m">
                    Your employment
                </dt>
                <dd class="app-check-your-answers__answer">
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="your-employment.html">
                        Change<span class="govuk-visually-hidden"> your employment</span>
                    </a>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Employee reference
                </dt>
                <dd id="employeeReference" class="app-check-your-answers__answer">
                    {{data['employee-reference']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Employer's name
                </dt>
                <dd class="app-check-your-answers__answer">
                    {{data['employers-name']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Employer's address
                </dt>
                <dd class="app-check-your-answers__answer">
                    <span id="employerAddressLine1">{{data['employer-address-line-1']}}<br /></span>
                    <span id="employerAddressLine2">{{data['employer-address-line-2']}}<br /></span>
                    <span id="employerAddressCity">{{data['employer-address-town-or-city']}}<br /></span>
                    <span id="employerAddressCounty">{{data['employer-address-county']}}<br /></span>
                    <span id="employerAddressPostcode">{{data['employer-address-postcode']}}</span>
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Employer's telephone
                </dt>
                <dd id="employerTelephone" class="app-check-your-answers__answer">
                    {{data['employer-telephone']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

        </dl>

        <!-- ************** -->
        <!-- ************** -->
        <!-- ************** -->
        <!-- ************** -->
        <!-- ************** -->
        <!-- YOUR OUTGOINGS -->
        <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-top-9">
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question govuk-heading-m">
                    Your outgoings
                </dt>
                <dd class="app-check-your-answers__answer">
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="your-outgoings.html">
                        Change<span class="govuk-visually-hidden"> monthly outgoings</span>
                    </a>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Would you like to give details of your personal bills?
                </dt>
                <dd id="yourOutgoings" class="app-check-your-answers__answer">
                    {{data['your-outgoings']}}
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>

            <div id="yourOutgoingsTotal" class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Monthly amount
                </dt>
                <dd class="app-check-your-answers__answer">
                    {{data['outgoings-total']}}<span id="otherExpensesDetails"> - {{data['other-expenses-details']}}</span>
                </dd>
                <dd class="app-check-your-answers__change">
                </dd>
            </div>
        </dl>
        
        <form action="" method="post">
            <div class="govuk-form-group">
                <div class="govuk-!-margin-top-6">
                    <button type="submit" class="govuk-button govuk-!-margin-bottom-0">Confirm and continue</button>
                    <p class="govuk-!-margin-top-3"><a href="javascript:history.go(-1);">Back</a></p>
                </div>
                
            </div>
        </form>
        
        <!--{% include "includes/welsh.html" %}-->

    </div>
        
</div>

{% endblock %}
