{% extends "layout.html" %}

{% block pageTitle %}
  Make a plea
{% endblock %}

{% block content %}

<script>
    window.onload = function() {

        /* ********** */
        /* VALIDATION */
        var validationCheck = document.getElementById('validationCheck').innerHTML;
        
        if (validationCheck == "error") {
            document.getElementById('validation').style.display = "block";
            document.getElementById('not-guilty-plea').className = "govuk-form-group--error govuk-!-margin-top-9";
            document.getElementById('validation-error').style.display = "block";            
            //alert('contact number error');
        }

    }
</script>

{% include "includes/timeout-overlay.html" %}

{% include "includes/phase-banner.html" %}
{% include "includes/breadcrumb.html" %}

<div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
        
        {% include "includes/cya.html" %}
        
        <p id="validationCheck" style="display:none">{{data['not-guilty-plea-validation']}}</p>
                
        <div id="validation" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary" style="display:none">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <a href="#not-guilty-plea">You must tell us why you believe your not guilty</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <h1 class="govuk-heading-xl">
            Not guilty plea
        </h1>

        <form action="" method="post">
            <div class="govuk-form-group">
                
                <p>Provide information for magistrates ahead of your court hearing.</p>
                 
                <div id="not-guilty-plea" class="govuk-form-group">
                    <div>
                        <label class="govuk-heading-m" for="not-guilty-more-detail">
                            Why do you believe you are not guilty?
                        </label>

                        <span id="validation-error" class="govuk-error-message" style="display:none">
                            You must tell us why you believe your not guilty
                        </span>

                        <textarea class="govuk-textarea" id="not-guilty-more-detail" name="not-guilty-more-detail" rows="10" aria-describedby="not-guilty-more-detail-hint">{{data['not-guilty-more-detail']}}</textarea>
                        <p class="govuk-!-font-size-16 govuk-!-margin-top-2" id="not-guilty-character_count" style=""></p>
                    </div>
                </div>
                
                <div class="govuk-!-margin-top-6">
                    <button type="submit" class="govuk-button govuk-!-margin-bottom-0">Continue</button>
                    <p class="govuk-!-margin-top-3"><a href="javascript:history.go(-1);">Back</a></p>
                </div>
          
            </div>
        </form>
        
        <!--{% include "includes/welsh.html" %}-->

    </div>
    
    <div class="govuk-grid-column-one-third">
        
        {% include "includes/help-and-advice-header.html" %}
        {% include "includes/help-and-advice-2.html" %}
        {% include "includes/help-and-advice-3.html" %}
    
    </div>
    
</div>

{% endblock %}
