{% extends "layout.html" %}

{% block pageTitle %}
  Make a plea
{% endblock %}

{% block content %}

{% include "includes/timeout-overlay.html" %}

{% include "includes/phase-banner.html" %}
{% include "includes/breadcrumb.html" %}

<div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
        
        {% include "includes/cya.html" %}
        
        <!-- FORM VALIDATION - NOT INTERACTIVE
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <a href="#dob-error">Date of birth must be in the past</a>
                    </li>
                    <li>
                        <a href="#postcode-error">Enter a postcode, like AA1 1AA</a>
                    </li>
                </ul>
            </div>
        </div>
        --> 
        
        <h1 class="govuk-heading-xl">
            Your witness
        </h1>

        <form action="" method="post">
            <div class="govuk-form-group">
                
                <p>Provide information for magistrates ahead of your court hearing.</p>
                                                
                <div class="govuk-!-margin-top-6">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s  govuk-!-margin-bottom-0">
                            <h1 class="govuk-fieldset__heading">
                                Do you want to bring your own witness?
                            </h1>
                        </legend>
                        <span id="more-detail-hint govuk-!-margin-top-0" class="govuk-hint">
                            Someone who can give evidence in court supporting your case
                        </span>
                        <div class="govuk-radios" data-module="radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="defence-witness-attend-1" name="defence-witness-attend" type="radio" value="Yes" data-aria-controls="defence-witness-attend-1-conditional" {{ checked('defence-witness-attend','Yes') }}>
                                <label class="govuk-label govuk-radios__label" for="defence-witness-attend-1">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__conditional" id="defence-witness-attend-1-conditional">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="defence-witness-attend-1-detail">
                                        Enter the name and address of your witness and their age and date of birth if known
                                    </label>
                                    <textarea class="govuk-textarea govuk-!-margin-bottom-2" id="defence-witness-attend-1-detail" name="defence-witness-attend-1-detail" rows="5" aria-describedby="defence-witness-attend-1-detail-hint">{{data['defence-witness-attend-1-detail']}}</textarea>
                                    <p class="govuk-!-font-size-16 govuk-!-margin-top-2" id="defence-witness-character_count" style=""></p>
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="defence-witness-attend-2" name="defence-witness-attend" type="radio" value="No" {{ checked('defence-witness-attend','No') }}>
                                <label class="govuk-label govuk-radios__label" for="defence-witness-attend-2">
                                    No
                                </label>
                            </div>

                        </div>
                    </fieldset>
                </div>                
                
                <div class="govuk-!-margin-top-6">
                    <button type="submit" class="govuk-button govuk-!-margin-bottom-0">Continue</button>
                    <p class="govuk-!-margin-top-3"><a href="javascript:history.go(-1);">Back</a></p>
                </div>
                
            </div>
        </form>
        
        <!--{% include "includes/welsh.html" %}-->

    </div>
    
    <div class="govuk-grid-column-one-third">
        
        {% include "includes/help-and-advice-header.html" %}
        {% include "includes/help-and-advice-2.html" %}
        {% include "includes/help-and-advice-3.html" %}
    
    </div>
    
</div>

{% endblock %}
