{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% include "includes/phase-banner.html" %}
{% include "includes/breadcrumb.html" %}

<div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
        
        {% include "includes/cya.html" %}
        
        <h1 class="govuk-heading-xl">
            Attending court
        </h1>

        <form action="" method="post">
            <div class="govuk-form-group">
                
                <p>Provide information for magistrates ahead of your court hearing.</p>
                
                <div class="govuk-!-margin-top-6">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h1 class="govuk-fieldset__heading">
                                Are there any dates you or your witness can not attend court?
                            </h1>
                        </legend>
                        <div class="govuk-radios" data-module="radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="dates-to-avoid-1" name="dates-to-avoid" type="radio" value="Yes" data-aria-controls="dates-to-avoid-1-conditional">
                                <label class="govuk-label govuk-radios__label" for="dates-to-avoid-1">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__conditional" id="dates-to-avoid-1-conditional">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="dates-to-avoid-1-detail">
                                        Enter the dates you or your witness can not attend court
                                    </label>
                                    <textarea class="govuk-textarea" id="dates-to-avoid-1-detail" name="dates-to-avoid-1-detail" rows="5" aria-describedby="dates-to-avoid-1-detail-hint"></textarea>
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="dates-to-avoid-2" name="dates-to-avoid" type="radio" value="No">
                                <label class="govuk-label govuk-radios__label" for="dates-to-avoid-2">
                                    No
                                </label>
                            </div>

                        </div>
                    </fieldset>
                </div>                

                <div class="govuk-!-margin-top-6">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h1 class="govuk-fieldset__heading">
                                Do you need an interpreter in court?
                            </h1>
                        </legend>
                        <div class="govuk-radios" data-module="radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="interpreter-1" name="interpreter" type="radio" value="Yes" data-aria-controls="interpreter-1-conditional">
                                <label class="govuk-label govuk-radios__label" for="interpreter-1">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__conditional" id="interpreter-1-conditional">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="interpreter-1-detail">
                                        Which language?
                                    </label>
                                    <span id="interpreter-hint" class="govuk-hint">
                                        You can include sign language
                                    </span>
                                    <input class="govuk-input govuk-!-width-one-half" id="interpreter-1-detail" name="interpreter-1-detail" type="text">

                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="interpreter-2" name="interpreter" type="radio" value="No">
                                <label class="govuk-label govuk-radios__label" for="interpreter-2">
                                    No
                                </label>
                            </div>

                        </div>
                    </fieldset>
                </div>                
                  <div class="govuk-!-margin-top-6">
                    <button type="submit" class="govuk-button govuk-!-margin-bottom-0">Continue</button>
                    <p class="govuk-!-margin-top-3"><a href="javascript:history.go(-1);">Back</a></p>
                </div>
                
            </div>
        </form>
        
        
        {% include "includes/welsh.html" %}

    </div>
    
    <div class="govuk-grid-column-one-third">
        
        {% include "includes/help-and-advice-header.html" %}
        {% include "includes/help-and-advice-1.html" %}
    
    </div>
    
</div>

{% endblock %}
