{% extends "layout.html" %}

{% block pageTitle %}
  Make a plea
{% endblock %}

{% block content %}

<script>
    window.onload = function() {

        /* ********** */
        /* VALIDATION */
        var validationCheck = document.getElementById('validationCheck').innerHTML;
        
        if (validationCheck == "error") {
            document.getElementById('validation').style.display = "block";
            document.getElementById('not-guilty-plea').className = "govuk-form-group--error govuk-!-margin-top-9";
            document.getElementById('validation-error').style.display = "block";            
            //alert('contact number error');
        }

    }
</script>

{% include "includes/timeout-overlay.html" %}

{% include "includes/phase-banner.html" %}
{% include "includes/breadcrumb.html" %}

<div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
        
        {% include "includes/cya.html" %}
        
        <p id="validationCheck" style="display:none">{{data['not-guilty-plea-4-welsh-validation']}}</p>
                
        <div id="validation" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary" style="display:none">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <a href="#not-guilty-plea">You must select one</a>
                    </li>
                </ul>
            </div>
        </div>

        
        
        
        
        
        <h1 class="govuk-heading-xl">
            Attending court
        </h1>

        <form action="" method="post">
            <div class="govuk-form-group">
                
                <p>Provide information for magistrates ahead of your court hearing.</p>
                
                <div class="govuk-!-margin-top-6">
                    
                    <div id="not-guilty-plea" class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h1 class="govuk-fieldset__heading">
                                    Do you wish to speak Welsh at your court hearing?
                                </h1>
                            </legend>

                            <span id="validation-error" class="govuk-error-message" style="display:none">
                                You must select one
                            </span>

                            <div class="govuk-radios" data-module="radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="welsh-hearing-1" name="welsh-hearing" type="radio" value="Yes" {{ checked('welsh-hearing','Yes') }}>
                                    <label class="govuk-label govuk-radios__label" for="welsh-hearing-1">
                                        Yes
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="welsh-hearing-2" name="welsh-hearing" type="radio" value="No" {{ checked('welsh-hearing','No') }}>
                                    <label class="govuk-label govuk-radios__label" for="welsh-hearing-2">
                                        No
                                    </label>
                                </div>

                            </div>
                        </fieldset>
                    </div>
                </div>                

                <div class="govuk-!-margin-top-6">
                    <button type="submit" class="govuk-button govuk-!-margin-bottom-0">Continue</button>
                    <p class="govuk-!-margin-top-3"><a href="javascript:history.go(-1);">Back</a></p>
                </div>
                
            </div>
        </form>
        
        <!--{% include "includes/welsh.html" %}-->

    </div>
    
    <div class="govuk-grid-column-one-third">
        
        {% include "includes/help-and-advice-header.html" %}
        {% include "includes/help-and-advice-2.html" %}
        {% include "includes/help-and-advice-3.html" %}
    
    </div>
    
</div>

{% endblock %}
