{% extends "layout.html" %}

{% block pageTitle %}
  Make a plea
{% endblock %}

{% block content %}

<script>
    window.onload = function() {

        var validationCheck1 = document.getElementById('validationCheck1').innerHTML;
        var validationCheck2 = document.getElementById('validationCheck2').innerHTML;
        if (validationCheck1 == "error") {
            document.getElementById('validation').style.display = "block";
            document.getElementById('contact-numbers').className = "govuk-form-group--error govuk-!-margin-top-9";
            document.getElementById('contact-number-error').style.display = "block";
            document.getElementById('1').style.display = "block";
            //alert('contact number error');
        }
        if (validationCheck2 == "error") {
            document.getElementById('validation').style.display = "block";
            document.getElementById('email-address').className = "govuk-form-group--error govuk-!-margin-top-9";
            document.getElementById('email-error').style.display = "block";
            document.getElementById('2').style.display = "block";
            //alert('email error');
        }

    }
</script>

{% include "includes/timeout-overlay.html" %}

{% include "includes/phase-banner.html" %}
{% include "includes/breadcrumb.html" %}

<div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
        
        {% include "includes/cya.html" %}
        
        <p id="validationCheck1" style="display:">{{data['your-details-3-validation-contact-numbers']}}</p>
        <p id="validationCheck2" style="display:">{{data['your-details-3-validation-email-address']}}</p>
        
        <div id="validation" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary" style="display:none">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li id="1" style="display:none">
                        <a href="#contact-number-error">You must enter at least one contact number</a>
                    </li>
                    <li id="2" style="display:none">
                        <a href="#email-error">You must enter your email address</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <h1 class="govuk-heading-xl">
            Enter other details
        </h1>
                
        <form action="" method="post">
            <div class="govuk-form-group">
                
                <div id="contact-numbers" class="govuk-form-group">
                    <p class="govuk-heading-m govuk-!-margin-bottom-0">
                        Contact numbers
                    </p>
                    <span id="email-hint" class="govuk-hint">
                        The court may need to contact you so they can resolve your case quickly - <span class="govuk-!-font-weight-bold">enter at least one number</span>
                    </span>
                    
                    <span id="contact-number-error" class="govuk-error-message" style="display:none">
                        You must enter at least one contact number
                    </span>
                    
                    <div>
                        <label class="govuk-label govuk-!-font-weight-bold" for="home-telephone">
                            Home telephone
                        </label>
                        <input class="govuk-input govuk-!-width-one-third" id="home-telephone" name="home-telephone" type="text" aria-describedby="home-telephone-hint" value="{{ data['home-telephone'] }}">
                    </div>
                    
                    <div class="govuk-!-margin-top-3">
                        <label class="govuk-label govuk-!-font-weight-bold" for="mobile">
                            Mobile
                        </label>
                        <input class="govuk-input govuk-!-width-one-third" id="mobile" name="mobile" type="text" aria-describedby="mobile-hint" value="{{ data['mobile'] }}">
                    </div>
                </div>                
                
                <div id="email-address" class="govuk-form-group govuk-!-margin-top-9">
                    <div>
                        <label class="govuk-label govuk-!-font-weight-bold" for="email">
                            Email address
                        </label>
                        <span id="email-hint" class="govuk-hint">
                            We will automatically email you confirmation when the plea is submitted
                        </span>
                        
                        <span id="email-error" class="govuk-error-message" style="display:none">
                            You must enter your email address
                        </span>
                    
                        <input class="govuk-input govuk-!-width-two-thirds" id="email" name="email" type="text" aria-describedby="email-hint" value="{{ data['email'] }}">
                    </div>
                </div>
                
                <div id="dob" class="govuk-form-group govuk-!-margin-top-9">
                    <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s  govuk-!-margin-bottom-0">
                            <h1 class="govuk-fieldset__heading">
                                Date of birth
                            </h1>
                        </legend>
                        <span id="dob-hint" class="govuk-hint govuk-!-margin-top-0">
                            For example, 31 3 1980
                        </span>
                        
                        <span id="dob-error" class="govuk-error-message" style="display:none">
                            You must enter your date of birth
                        </span>
                    
                        <div class="govuk-date-input" id="dob">
                            <div class="govuk-date-input__item govuk-date-input__item--day">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="dob-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" value="{{ data['dob-day'] }}">
                                </div>
                            </div>
                            <div class="govuk-date-input__item govuk-date-input__item--month">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="dob-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" value="{{ data['dob-month'] }}">
                                </div>
                            </div>
                            <div class="govuk-date-input__item govuk-date-input__item--year">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="dob-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" value="{{ data['dob-year'] }}">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                
                <div class="govuk-!-margin-top-6">
                    <button type="submit" class="govuk-button govuk-!-margin-bottom-0">Continue</button>
                    <p class="govuk-!-margin-top-3"><a href="javascript:history.go(-1);">Back</a></p>
                </div>
                
            </div>
        </form>
        
        <!--{% include "includes/welsh.html" %}-->

    </div>
    
    <div class="govuk-grid-column-one-third">
        
        {% include "includes/help-and-advice-header.html" %}
        {% include "includes/help-and-advice-1.html" %}
        {% include "includes/help-and-advice-3.html" %}
    
    </div>
    
</div>

{% endblock %}
