{% extends "layout.html" %}

{% block pageTitle %}
  Make a plea
{% endblock %}

{% block content %}

{% include "includes/timeout-overlay.html" %}

{% include "includes/phase-banner.html" %}
{% include "includes/breadcrumb.html" %}

<div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
        
        {% include "includes/cya.html" %}
        
        <!-- FORM VALIDATION - NOT INTERACTIVE
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <a href="#dob-error">Date of birth must be in the past</a>
                    </li>
                    <li>
                        <a href="#postcode-error">Enter a postcode, like AA1 1AA</a>
                    </li>
                </ul>
            </div>
        </div>
        --> 
        
        <h1 class="govuk-heading-xl">
            Your employment
        </h1>

        <form action="" method="post">

            <div class="govuk-form-group">

                <p class="govuk-body-l">Tell us about the company you work for.</p>

                <div class="govuk-!-margin-top-3">
                    <label class="govuk-label govuk-!-font-weight-bold" for="employers-name">
                        Which company do you work for? 
                    </label>
                    <span id="employers-name-hint" class="govuk-hint govuk-!-margin-bottom-1">
                        This is the company name of your employer - this should be on your payslip
                    </span>
                    <input class="govuk-input govuk-!-width-two-thirds" id="employers-name" name="employers-name" type="text" aria-describedby="employers-name-hint" value="{{data['employers-name']}}">
                </div>

                <div class="govuk-!-margin-top-6">
                    <label class="govuk-label govuk-!-font-weight-bold" for="employee-reference">
                        What is your employee reference number? (optional)
                    </label>
                    <span id="employee-reference-hint" class="govuk-hint govuk-!-margin-bottom-1">
                        Also known as employee number or payroll reference - this should be on your payslip
                    </span>
                    <input class="govuk-input govuk-!-width-one-third" id="employee-reference" name="employee-reference" type="text" aria-describedby="employee-reference-hint" value="{{data['employee-reference']}}">
                </div>                
                

                
                <h2 class="govuk-heading-m govuk-!-margin-top-9">
                    What is you employer's Address?
                </h2>
                
                <details class="govuk-details" open>
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Which address should I include?
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        Enter the head office or where your payroll is managed
                    </div>
                </details>                
                
                <div class="govuk-!-margin-top-3">
                    <label class="govuk-label govuk-!-font-weight-bold" for="employer-address-line-1">
                        Address
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="employer-address-line-1" name="employer-address-line-1" type="text" aria-describedby="employer-address-line-1-hint" value="{{data['employer-address-line-1']}}">
                    <input class="govuk-input govuk-!-width-two-thirds govuk-!-margin-top-2" id="employer-address-line-2" name="employer-address-line-2" type="text" aria-describedby="employer-address-line-2-hint" value="{{data['employer-address-line-2']}}">
                </div>
                
                <div class="govuk-!-margin-top-3">
                    <label class="govuk-label govuk-!-font-weight-bold" for="employer-address-town-or-city">
                        Town or city
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="employer-address-town-or-city" name="employer-address-town-or-city" type="text" aria-describedby="employer-address-town-or-city-hint" value="{{data['employer-address-town-or-city']}}">
                </div>
                
                <div class="govuk-!-margin-top-3">
                    <label class="govuk-label govuk-!-font-weight-bold" for="employer-address-county">
                        County (optional)
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="employer-address-county" name="employer-address-county" type="text" aria-describedby="employer-address-county-hint" value="{{data['employer-address-county']}}">
                </div>
                
                <div class="govuk-!-margin-top-3">
                    <label class="govuk-label govuk-!-font-weight-bold" for="employer-address-postcode">
                        Postcode
                    </label>
                    <input class="govuk-input govuk-!-width-one-quarter" id="employer-address-postcode" name="employer-address-postcode" type="text" aria-describedby="employer-address-postcode-hint" value="{{data['employer-address-postcode']}}">
                </div>
                
                <div class="govuk-!-margin-top-3">
                    <label class="govuk-label govuk-!-font-weight-bold" for="employer-telephone">
                        Your employer's telephone (optional)
                    </label>
                    <input class="govuk-input govuk-!-width-one-third" id="employer-telephone" name="employer-telephone" type="text" aria-describedby="employer-telephone-hint" value="{{data['employer-telephone']}}">
                </div>
                
                <div class="govuk-!-margin-top-6">
                    <button type="submit" class="govuk-button govuk-!-margin-bottom-0">Continue</button>
                    <p class="govuk-!-margin-top-3"><a href="javascript:history.go(-1);">Back</a></p>
                </div>

            </div>                
                
        </form>
        
        <!--{% include "includes/welsh.html" %}-->

    </div>
    
    <div class="govuk-grid-column-one-third">
        
        {% include "includes/help-and-advice-header.html" %}
        {% include "includes/help-and-advice-3.html" %}
    
    </div>
    
</div>

{% endblock %}
