{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% include "includes/timeout-overlay.html" %}

{% include "includes/phase-banner.html" %}
{% include "includes/breadcrumb.html" %}

<script>
    window.onload = function() {
        
        /* ***************************** */
        /* HIDE CHARGE DETAILS AS NEEDED */
        var chargeDetails1 = document.getElementById('chargeDetails1').innerHTML;
        var chargeDetails2 = document.getElementById('chargeDetails2').innerHTML;
        var chargeDetails3 = document.getElementById('chargeDetails3').innerHTML;
        var chargeDetails4 = document.getElementById('chargeDetails4').innerHTML;
        
        if (chargeDetails1 == "<br>") {
            document.getElementById('chargeDetails1').style.display = "none";
        }
        if (chargeDetails2 == "<br>") {
            document.getElementById('chargeDetails2').style.display = "none";
        }
        if (chargeDetails3 == "<br>") {
            document.getElementById('chargeDetails3').style.display = "none";
        }
        if (chargeDetails4 == "") {
            document.getElementById('chargeDetails4').style.display = "none";
        }

    }
</script>

<div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
        
        {% include "includes/cya.html" %}
        
        <h1 class="govuk-heading-xl">
            Your plea
        </h1>

        <div class="govuk-inset-text">
            <p>This is your chance to respond. Please note:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>you're being charged with a criminal offence and you may wish to take legal advice before making your plea</li>
                <li>all evidence is in the notice sent to you</li>
                <li>if you plead guilty, we will reduce your fine by up to 33%</li>
                <li>If you are convicted after trial your costs may be higher than if you had pleaded guilty</li>
            </ul>        
        </div>
        
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        
        <h2 class="govuk-heading-l">
            What you've been charged with
        </h2>

        <details class="govuk-details" open>
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    {{data['charge-title']}}
                </span>
            </summary>
                <div class="govuk-details__text">
                    <span id="chargeDetails1">{{data['charge-details-1']}}<br></span>
                    <span id="chargeDetails2">{{data['charge-details-2']}}<br></span>
                    <span id="chargeDetails3">{{data['charge-details-3']}}<br></span>
                    <span id="chargeDetails4">{{data['charge-details-4']}}</span>
                </div>
        </details>
        
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <h2 class="govuk-heading-l">
            Enter your plea
        </h2>
        
        <form action="" method="post">

            <div class="govuk-form-group govuk-!-margin-bottom-3">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                            How do you pleasd?
                        </h1>
                    </legend>

                    <div class="govuk-radios" data-module="radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="how-do-you-plead-1" name="how-do-you-plead" type="radio" value="Guilty" data-aria-controls="conditional-how-do-you-plead-1" {{ checked('how-do-you-plead','Guilty') }}>
                            <label class="govuk-label govuk-radios__label" for="how-do-you-plead-1">
                                Guilty
                            </label>
                        </div>

                        <div class="govuk-radios__conditional" id="conditional-how-do-you-plead-1">
                            <div class="govuk-form-group">
                                <p>You're declaring you comitted the offence.</p>
                            </div>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="how-do-you-plead-2" name="how-do-you-plead" type="radio" value="Not guilty" data-aria-controls="conditional-how-do-you-plead-2" {{ checked('how-do-you-plead','Not guilty') }}>
                            <label class="govuk-label govuk-radios__label" for="how-do-you-plead-2">
                                Not guilty
                            </label>
                        </div>

                        <div class="govuk-radios__conditional" id="conditional-how-do-you-plead-2">
                            <div class="govuk-form-group">
                                <p>You're declaring you didn't commit the offence so you'll need to attend court if you want to present your evidence.</p>
                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>
        
            <div class="govuk-form-group">

                <div class="govuk-!-margin-top-6">
                    <button type="submit" class="govuk-button govuk-!-margin-bottom-0">Continue</button>
                    <p class="govuk-!-margin-top-3"><a href="javascript:history.go(-1);">Back</a></p>
                </div>

            </div>
        </form>
        
        <!--{% include "includes/welsh.html" %}-->

    </div>
    
    <div class="govuk-grid-column-one-third">
        
        {% include "includes/help-and-advice-header.html" %}
        {% include "includes/help-and-advice-1.html" %}
    
    </div>
    
</div>

{% endblock %}
