{% extends "layout.html" %}

{% block pageTitle %}
  Make a plea
{% endblock %}

{% block content %}

{% include "includes/timeout-overlay.html" %}

{% include "includes/phase-banner.html" %}
{% include "includes/breadcrumb.html" %}

<div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
        
        {% include "includes/cya.html" %}
        
        <!-- FORM VALIDATION - NOT INTERACTIVE
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <a href="#dob-error">Date of birth must be in the past</a>
                    </li>
                    <li>
                        <a href="#postcode-error">Enter a postcode, like AA1 1AA</a>
                    </li>
                </ul>
            </div>
        </div>
        --> 
        
        
        
        
        
        
        <p id="guilty-plea-come-to-court" style="display:; color:red">{{data['guilty-plea-come-to-court']}}</p>
        
        
        
        
        
        
        
        <h1 class="govuk-heading-xl">
            Your finances
        </h1>

        <form action="" method="post">
            <div class="govuk-form-group">
                
                <p class="govuk-body-l">You must provide details of your finances.</p>
                
                <p class="govuk-!-margin-bottom-2">If you need to pay a penalty, then the court will decide the amount based on:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>your finances</li>
                    <li>the seriousness of the offence</li>
                </ul>

                <div class="govuk-warning-text govuk-!-margin-bottom-6 govuk-!-margin-top-6">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        It's an offence to give false or misleading information
                    </strong>
                </div>  
                
                <p>Your financial details will be kept securely and only used by court staff.</p>
                
                
                
                
                
                <!-- ************************************************** -->
                <!-- NOT GUILTY & GUILTY, I DON'T WANT TO COME TO COURT -->
                <div id="income-details" style="display:none">
                    
                    <hr style="margin: 60px 0 60px 0">
                                        
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h3 class="govuk-fieldset__heading">
                                Would you like to give us your income or benefits details so they can be taken into account?
                            </h3>
                        </legend>

                        <div class="govuk-radios" data-module="radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="income-details-1" name="income-details" type="radio" value="Yes" data {{ checked('income-details','Yes') }}>
                                <label class="govuk-label govuk-radios__label" for="income-details-1">
                                    Yes
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="income-details-2" name="income-details" type="radio" value="No" {{ checked('income-details','No') }}>
                                <label class="govuk-label govuk-radios__label" for="income-details-2">
                                    No
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="income-details-3" name="income-details" type="radio" value="I have no income or benefits" {{ checked('income-details','I have no income or benefits') }}>
                                <label class="govuk-label govuk-radios__label" for="income-details-3">
                                    I have no income or benefits
                                </label>
                            </div>

                        </div>
                    </fieldset>
                    
                </div>
                

                
                
                
                <!-- ******************************* -->
                <!-- GUILTY, I WANT TO COME TO COURT -->
                <div id="additional-information" style="display:none">
                    
                    <hr style="margin: 60px 0 60px 0">
                    
                    <h2 class="govuk-heading-m">Additional information</h2>
                    
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h3 class="govuk-fieldset__heading">
                                Do you have any outstanding fines? (optional)
                            </h3>
                            <p style="margin-top:5px; margin-bottom:0">If you have outstanding fines then the court will consider this information when they deal with your case.</p>
                        </legend>

                        <div class="govuk-radios" data-module="radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="outstanding-fines-1" name="outstanding-fines" type="radio" value="Yes" data {{ checked('outstanding-fines','Yes') }}>
                                <label class="govuk-label govuk-radios__label" for="outstanding-fines-1">
                                    Yes
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="outstanding-fines-2" name="outstanding-fines" type="radio" value="No" {{ checked('outstanding-fines','No') }}>
                                <label class="govuk-label govuk-radios__label" for="outstanding-fines-2">
                                    No
                                </label>
                            </div>

                        </div>
                    </fieldset>
                    
                </div>
                
                
                
                
                
                
                
                
                <div class="govuk-!-margin-top-6">
                    <button type="submit" class="govuk-button govuk-!-margin-bottom-0">Continue</button>
                    <p class="govuk-!-margin-top-3"><a href="javascript:history.go(-1);">Back</a></p>
                </div>
                
            </div>
        </form>
        
        <!--{% include "includes/welsh.html" %}-->

    </div>
    
    <div class="govuk-grid-column-one-third">
        
        {% include "includes/help-and-advice-header.html" %}
        {% include "includes/help-and-advice-3.html" %}
        {% include "includes/help-and-advice-4.html" %}
    
    </div>
    
</div>






<!-- ********************************************************************** -->
<!-- display 'Additional information' for "Guilty, I want to come to court" -->

<script>
    var guiltyPleaComeToCourt = document.getElementById("guilty-plea-come-to-court").innerHTML;

    if (guiltyPleaComeToCourt == "Yes, I want to come to court") {
        document.getElementById("additional-information").style.display = "block";
        document.getElementById("income-details").style.display = "none";
    } else {
        document.getElementById("additional-information").style.display = "none";
        document.getElementById("income-details").style.display = "block";
    }

</script>









{% endblock %}
