{% extends "layout.html" %}

{% block pageTitle %}
  Make a plea
{% endblock %}

{% block content %}

{% include "includes/timeout-overlay.html" %}

{% include "includes/phase-banner.html" %}
{% include "includes/breadcrumb.html" %}

<div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
        
        {% include "includes/cya.html" %}
        
        <!-- FORM VALIDATION - NOT INTERACTIVE
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <a href="#dob-error">Date of birth must be in the past</a>
                    </li>
                    <li>
                        <a href="#postcode-error">Enter a postcode, like AA1 1AA</a>
                    </li>
                </ul>
            </div>
        </div>
        --> 
        
        <h1 class="govuk-heading-xl">
            Your income
        </h1>

        <form action="" method="post">
            <div class="govuk-form-group">
                
                <!-- YOUR EMPLOYMENT STATUS -->
                <div class="govuk-!-margin-top-6">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h1 class="govuk-fieldset__heading">
                                Your employment status
                            </h1>
                        </legend>
                        <div class="govuk-radios" data-module="radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="employment-status-1" name="employment-status" type="radio" value="Employed (full or part-time)" {{ checked('employment-status','Employed (full or part-time)') }}>
                                <label class="govuk-label govuk-radios__label" for="employment-status-1">
                                    Employed (full or part-time)
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="employment-status-2" name="employment-status" type="radio" value="Self-employed" {{ checked('employment-status','Self-employed') }}>
                                <label class="govuk-label govuk-radios__label" for="employment-status-2">
                                    Self-employed
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="employment-status-3" name="employment-status" type="radio" value="Unemployed" {{ checked('employment-status','Unemployed') }}>
                                <label class="govuk-label govuk-radios__label" for="employment-status-3">
                                    Unemployed
                                </label>
                            </div>                            
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="employment-status-4" name="employment-status" type="radio" value="Other (for example, retired, student)" data-aria-controls="employment-status-4-conditional" {{ checked('employment-status','Other (for example, retired, student)') }}>
                                <label class="govuk-label govuk-radios__label" for="income-frequency-4">
                                    Other (for example, retired, student)
                                </label>
                            </div>
                            <div class="govuk-radios__conditional" id="employment-status-4-conditional">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="other-employment-status-details">
                                        Other income details
                                    </label>
                                    <textarea class="govuk-textarea govuk-!-margin-bottom-2" id="other-employment-status-details" name="other-employment-status-details" rows="5" aria-describedby="other-employment-status-details-hint">{{data['other-employment-status-details']}}</textarea>
                                    <p class="govuk-!-font-size-16 govuk-!-margin-top-2" id="other-employment-status-character_count" style=""></p>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>                

                <!-- INCOME FREQUENCY -->
                <div class="govuk-!-margin-top-6">
                    <fieldset class="govuk-fieldset">
                        
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h1 class="govuk-fieldset__heading">
                                What is the frequency of your income?
                            </h1>
                        </legend>
                        
                        <div class="govuk-radios" data-module="radios">
                            
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="income-frequency-1" name="income-frequency" type="radio" value="Weekly" {{ checked('income-frequency','Weekly') }} data-aria-controls="income-frequency-1-conditional">
                                <label class="govuk-label govuk-radios__label" for="income-frequency-1">
                                    Weekly
                                </label>
                            </div>
                                        <div class="govuk-radios__conditional" id="income-frequency-1-conditional">
                                            <label class="govuk-heading-s govuk-!-margin-bottom-0" for="weekly-income">
                                                Your weekly income (after tax)
                                            </label>
                                            <span id="weekly-income-hint" class="govuk-hint  govuk-!-margin-bottom-1">
                                                Include earnings, pension, benefits and any other income
                                            </span>
                                            <div class="input-icon">
                                                <i class="govuk-body">£</i>
                                                <input class="govuk-input govuk-!-width-one-third" id="weekly-income" name="weekly-income" type="number" min="0.01" step="0.01" aria-describedby="weekly-income-hint" value="{{data['weekly-income']}}">
                                            </div>                
                                        </div>
                            
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="income-frequency-2" name="income-frequency" type="radio" value="Fortnightly" {{ checked('income-frequency','Fortnightly') }} data-aria-controls="income-frequency-2-conditional">
                                <label class="govuk-label govuk-radios__label" for="income-frequency-2">
                                    Fortnightly
                                </label>
                            </div>
                                        <div class="govuk-radios__conditional" id="income-frequency-2-conditional">
                                            <label class="govuk-heading-s govuk-!-margin-bottom-0" for="fortnightly-income">
                                                Your fortnightly income (after tax)
                                            </label>
                                            <span id="fortnightly-income-hint" class="govuk-hint  govuk-!-margin-bottom-1">
                                                Include earnings, pension, benefits and any other income
                                            </span>
                                            <div class="input-icon">
                                                <i class="govuk-body">£</i>
                                                <input class="govuk-input govuk-!-width-one-third" id="fortnightly-income" name="fortnightly-income" type="number" min="0.01" step="0.01" aria-describedby="fortnightly-income-hint" value="{{data['fortnightly-income']}}">
                                            </div>                
                                        </div>
                            
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="income-frequency-3" name="income-frequency" type="radio" value="Monthly" {{ checked('income-frequency','Monthly') }} data-aria-controls="income-frequency-3-conditional">
                                <label class="govuk-label govuk-radios__label" for="income-frequency-3">
                                    Monthly
                                </label>
                            </div>
                                        <div class="govuk-radios__conditional" id="income-frequency-3-conditional">
                                            <label class="govuk-heading-s govuk-!-margin-bottom-0" for="monthly-income">
                                                Your monthly income (after tax)
                                            </label>
                                            <span id="monthly-income-hint" class="govuk-hint  govuk-!-margin-bottom-1">
                                                Include earnings, pension, benefits and any other income
                                            </span>
                                            <div class="input-icon">
                                                <i class="govuk-body">£</i>
                                                <input class="govuk-input govuk-!-width-one-third" id="monthly-income" name="monthly-income" type="number" min="0.01" step="0.01" aria-describedby="monthly-income-hint" value="{{data['monthly-income']}}">
                                            </div>                
                                        </div>
                            
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="income-frequency-4" name="income-frequency" type="radio" value="Yearly" {{ checked('income-frequency','Yearly') }} data-aria-controls="income-frequency-4-conditional">
                                <label class="govuk-label govuk-radios__label" for="income-frequency-4">
                                    Yearly
                                </label>
                            </div>
                                        <div class="govuk-radios__conditional" id="income-frequency-4-conditional">
                                            <label class="govuk-heading-s govuk-!-margin-bottom-0" for="yearly-income">
                                                Your yearly income (after tax)
                                            </label>
                                            <span id="yearly-income-hint" class="govuk-hint  govuk-!-margin-bottom-1">
                                                Include earnings, pension, benefits and any other income
                                            </span>
                                            <div class="input-icon">
                                                <i class="govuk-body">£</i>
                                                <input class="govuk-input govuk-!-width-one-third" id="yearly-income" name="yearly-income" type="number" min="0.01" step="0.01" aria-describedby="yearly-income-hint" value="{{data['yearly-income']}}">
                                            </div>                
                                        </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="income-frequency-5" name="income-frequency" type="radio" value="I have no income" {{ checked('income-frequency','I have no income') }}>
                                <label class="govuk-label govuk-radios__label" for="income-frequency-5">
                                    I have no income
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>   
                
                <!-- YOUR AVERAGE INCOME -->
                <!--
                <div class="">
                    <label class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-0" for="average-income">
                        Your {{data['income-frequency']}} income (after tax)
                    </label>
                    <span id="average-income-hint" class="govuk-hint  govuk-!-margin-bottom-1">
                        Include earnings, pension, benefits and any other income
                    </span>
                    <div class="input-icon">
                        <i class="govuk-body">£</i>
                        <input class="govuk-input govuk-!-width-one-third" id="average-income" name="average-income" type="number" min="0.01" step="0.01" aria-describedby="average-income-hint" value="{{data['average-income']}}">
                    </div>                
                </div>
                -->
                
                <!-- NIN -->
                <div class="">
                    <label class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-0" for="nin">
                        {{data['nin-label']}}
                    </label>
                    <span id="nin-hint" class="govuk-hint govuk-!-margin-bottom-1">
                        It's on your National Insurance card, benefit letter, payslip or P60 - for example, 'AB 12 34 56 C'
                    </span>
                    <input class="govuk-input govuk-!-width-one-third" id="nin" name="nin" type="text" aria-describedby="nin-hint" value="{{data['nin']}}">
                </div>                

                <!-- ARE YOU CLAIMING ANY BENEFITS -->
                <div class="govuk-!-margin-top-6">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h1 class="govuk-fieldset__heading">
                                Are you claiming any benefits?
                            </h1>
                        </legend>
                        <div class="govuk-radios" data-module="radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="claiming-benefits-1" name="claiming-benefits" type="radio" value="Yes" data-aria-controls="claiming-benefits-1-conditional" {{ checked('claiming-benefits','Yes') }}>
                                <label class="govuk-label govuk-radios__label" for="claiming-benefits-1">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__conditional" id="claiming-benefits-1-conditional">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="claiming-benefits-details">
                                        Which benefits are you claiming?
                                    </label>
                                    <textarea class="govuk-textarea govuk-!-margin-bottom-2" id="claiming-benefits-details" name="claiming-benefits-details" rows="5" aria-describedby="claiming-benefits-details-hint">{{data['claiming-benefits-details']}}</textarea>
                                    <p class="govuk-!-font-size-16 govuk-!-margin-top-2" id="benefits-character_count" style=""></p>
                                </div>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="claiming-benefits-2" name="claiming-benefits" type="radio" value="No" {{ checked('claiming-benefits','No') }}>
                                <label class="govuk-label govuk-radios__label" for="claiming-benefits-2">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>                
                
                <div class="govuk-!-margin-top-6">
                    <button type="submit" class="govuk-button govuk-!-margin-bottom-0">Continue</button>
                    <p class="govuk-!-margin-top-3"><a href="javascript:history.go(-1);">Back</a></p>
                </div>
                
            </div>
        </form>
        
        <!--{% include "includes/welsh.html" %}-->

    </div>
    
    <div class="govuk-grid-column-one-third">
        
        {% include "includes/help-and-advice-header.html" %}
        {% include "includes/help-and-advice-3.html" %}
        {% include "includes/help-and-advice-4.html" %}
    
    </div>
    
</div>

{% endblock %}
