{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% include "includes/phase-banner.html" %}
{% include "includes/breadcrumb.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Your details
        </h1>
        
        <h2 class="govuk-heading-m">Enter other details</h2>

        <p class="govuk-body-l">Coming soon...</p>        
        
        <form action="" method="post">
            <div class="govuk-form-group">

                <button type="submit" class="govuk-button">Continue</button> 
                
            </div>
        </form>
        
        
        {% include "includes/welsh.html" %}

    </div>
    
    <div class="govuk-grid-column-one-third">
        
        {% include "includes/help-and-advice-header.html" %}
        {% include "includes/help-and-advice-1.html" %}
    
    </div>
    
</div>

{% endblock %}
