{% extends "layout.html" %}

{% block pageTitle %}
  Make a plea
{% endblock %}

{% block content %}

<script>
    window.onload = function() {

        /* ********** */
        /* VALIDATION */
        var validationCheck = document.getElementById('validationCheck').innerHTML;
        
        if (validationCheck == "error") {
            document.getElementById('validation').style.display = "block";
            document.getElementById('guilty-welsh-hearing').className = "govuk-form-group--error govuk-!-margin-top-9";
            document.getElementById('validation-error').style.display = "block";            
            //alert('contact number error');
        }

    }
</script>

{% include "includes/timeout-overlay.html" %}

{% include "includes/phase-banner.html" %}
{% include "includes/breadcrumb.html" %}

<div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
        
        {% include "includes/cya.html" %}
        
        <p id="validationCheck" style="display:">{{data['your-court-hearing-welsh-validation']}}</p>
                
        <div id="validation" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary" style="display:none">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <a href="#guilty-welsh-hearing">You must select one</a>
                    </li>
                </ul>
            </div>
        </div>

        
        
        
        
        
        <h1 class="govuk-heading-xl">
            Your court hearing
        </h1>
        
        <form action="" method="post">
            <div class="govuk-form-group">
                                
                <div id="guilty-welsh-hearing" class="govuk-form-group govuk-!-margin-top-6">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h1 class="govuk-fieldset__heading">
                                Do you wish to speak Welsh in court?
                            </h1>
                        </legend>
                        
                        <span id="validation-error" class="govuk-error-message" style="display:none">
                            You must select one
                        </span>

                        <div class="govuk-radios" data-module="radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="guilty-welsh-hearing-1" name="guilty-welsh-hearing" type="radio" value="Yes" {{ checked('guilty-welsh-hearing','Yes') }}>
                                <label class="govuk-label govuk-radios__label" for="guilty-welsh-hearing-1">
                                    Yes
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="guilty-welsh-hearing-2" name="guilty-welsh-hearing" type="radio" value="No" {{ checked('guilty-welsh-hearing','No') }}>
                                <label class="govuk-label govuk-radios__label" for="guilty-welsh-hearing-2">
                                    No
                                </label>
                            </div>

                        </div>
                    </fieldset>
                </div>                

                  <div class="govuk-!-margin-top-6">
                    <button type="submit" class="govuk-button govuk-!-margin-bottom-0">Continue</button>
                    <p class="govuk-!-margin-top-3"><a href="javascript:history.go(-1);">Back</a></p>
                </div>
                
            </div>
        </form>
        
        <!--{% include "includes/welsh.html" %}-->

    </div>
    
    <div class="govuk-grid-column-one-third">
        
        {% include "includes/help-and-advice-header.html" %}
        {% include "includes/help-and-advice-3.html" %}
    
    </div>
    
</div>

{% endblock %}
