{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% include "includes/phase-banner.html" %}
{% include "includes/breadcrumb.html" %}

<div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
        
        {% include "includes/cya.html" %}
        
        <h1 class="govuk-heading-xl">
            Your outgoings
        </h1>

        <form action="" method="post">
            <div class="govuk-form-group">
                
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h1 class="govuk-fieldset__heading">
                                Would you like to give details of your personal bills?
                            </h1>
                        </legend>
                        <span id="your-outgoings-hint" class="govuk-hint">
                            Magistrates can take your outgoings into account when deciding how long you should get to pay a penalty
                        </span>
                        <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="your-outgoings-1" name="your-outgoings" type="radio" value="Yes">
                                <label class="govuk-label govuk-radios__label" for="your-outgoings-1">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="your-outgoings-2" name="your-outgoings" type="radio" value="No">
                                <label class="govuk-label govuk-radios__label" for="your-outgoings-2">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                <div class="govuk-!-margin-top-6">
                    <button type="submit" class="govuk-button govuk-!-margin-bottom-0">Continue</button>
                    <p class="govuk-!-margin-top-3"><a href="javascript:history.go(-1);">Back</a></p>
                </div>
                
            </div>
        </form>
        
        
        {% include "includes/welsh.html" %}

    </div>
    
    <div class="govuk-grid-column-one-third">
        
        {% include "includes/help-and-advice-header.html" %}
        {% include "includes/help-and-advice-1.html" %}
    
    </div>
    
</div>

{% endblock %}
