{% extends "layout.html" %}

{% block pageTitle %}
  Make a plea
{% endblock %}

{% block content %}

{% include "includes/timeout-overlay.html" %}

{% include "includes/phase-banner.html" %}
{% include "includes/breadcrumb.html" %}

<script>
    window.onload = function() {
        var defendantAddressLine1 = document.getElementById('defendant-address-line-1').innerHTML;
        var defendantAddressLine2 = document.getElementById('defendant-address-line-2').innerHTML;
        var defendantAddressCity = document.getElementById('defendant-address-city').innerHTML;
        var defendantAddressPostcode = document.getElementById('defendant-address-postcode').innerHTML;
        
        if (defendantAddressLine1 == "<br>") {
            document.getElementById('defendant-address-line-1').style.display = "none"
        }
        if (defendantAddressLine2 == "<br>") {
            document.getElementById('defendant-address-line-2').style.display = "none"
        }
        if (defendantAddressCity == "<br>") {
            document.getElementById('defendant-address-city').style.display = "none"
        }
        
        if (defendantAddressPostcode == "LL48 6ER" || defendantAddressPostcode == "LL486ER") {
            //alert('WELSH!!!');
        }
        
    }
</script>

<div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
        
        {% include "includes/cya.html" %}
                
        <!-- FORM VALIDATION - NOT INTERACTIVE
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <a href="#dob-error">Date of birth must be in the past</a>
                    </li>
                    <li>
                        <a href="#postcode-error">Enter a postcode, like AA1 1AA</a>
                    </li>
                </ul>
            </div>
        </div>
        --> 
        
        <h1 class="govuk-heading-xl">
            Your details
        </h1>

        <h2 class="govuk-heading-m">Check your name and address</h2>
        
        <div class="govuk-inset-text">
            <span id="defendant-name">Sam Smith<br></span>
            <span id="defendant-address-line-1">{{data['defendant-address-line-1']}}<br></span>
            <span id="defendant-address-line-2">{{data['defendant-address-line-2']}}<br></span>
            <span id="defendant-address-city">{{data['defendant-address-city']}}<br></span>
            <span id="defendant-address-postcode" style="text-transform: uppercase">{{data['defendant-address-postcode']}}</span>
        </div>

        <form action="" method="post">

            <div class="govuk-form-group">

                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                            Are these details correct?
                        </h1>
                    </legend>
                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="are-these-details-correct-1" name="are-these-details-correct" type="radio" value="Yes" {{ checked('are-these-details-correct','Yes') }}>
                            <label class="govuk-label govuk-radios__label" for="are-these-details-correct-1">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="are-these-details-correct-2" name="are-these-details-correct" type="radio" value="No" {{ checked('are-these-details-correct','No') }}>
                            <label class="govuk-label govuk-radios__label" for="are-these-details-correct-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>

                <div class="govuk-!-margin-top-6">
                    <button type="submit" class="govuk-button govuk-!-margin-bottom-0">Continue</button>
                    <p class="govuk-!-margin-top-3"><a href="javascript:history.go(-1);">Back</a></p>
                </div>

            </div>                
                
        </form>
        
        <!--{% include "includes/welsh.html" %}-->

    </div>
    
    <div class="govuk-grid-column-one-third">
        
        {% include "includes/help-and-advice-header.html" %}
        {% include "includes/help-and-advice-1.html" %}
        {% include "includes/help-and-advice-3.html" %}
    
    </div>
    
</div>

{% endblock %}
